/* Global view/ Desktop view */
body{
    font-family: 'Asap', sans-serif;
    background-color: #ebebeb;
}

.header-container{
    background-color: rgb(60,60,60);
    min-height: 100px;
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
}

header{
    max-width:1024px;
    min-height: 100px;
    
    /*background-color: aqua;*/
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.logo{
    font-weight: 700;

}

span.nav-element a{
    text-decoration: none;
    color: white;
    border: 1px solid #ebebeb;
    padding: 8px 18px 8px 18px;
}

nav{
    display: flex;
    width: 370px;
    justify-content: space-between;
   
}

.container{
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
    }


.hide-desktop-only{
    display: none;
}

.col{
   
    width: 30%;
    margin: 0px 0px 40px 0px;
    background-color: rgb(43, 226, 147);
}

.col p{
    color:white;
    font-size: 0.875rem;
    padding: 20px 25px;
    line-height: 1.25rem;

}

.col img{
    width: 100%;
    height: auto;
}

.col p::first-line{
    font-weight: 700;
}


.footer-container{
    background-color: rgb(60,60,60);
    min-height: 100px;
    margin-top: 40px;
}

.mob-wrapper{
       display: none;
}

footer p{
    padding: 20px;
    color: white;
}


/*Tablet View*/
@media(max-width: 768px){

    .col{
        
        width: 45%;
       
    
    }

    nav{
        display: none;
    }

    .hide-desktop-only{
        display: block;
    }
  
    .mob-wrapper{
        display: block;
        padding-right:30px ;
    }
    
    .mob-nav{
        display: none;
        position: absolute;
        padding-top: 10px;
        
    }

   

    .navbutton{
        display: block;
        text-decoration: none;
        color: white;
        background-color: coral;
        padding: 15px 30px;
        margin-left: -70px;
        text-align: center;

    }

    .mob-navbutton{
        display: none;
    }

}


/*Mobile View*/
@media(max-width: 500px){

    .container{
        padding-top: 40px;
    }

    .col{
        
        width: 100%;
       
    
    }

    .header-container{
        position: relative;
        padding-bottom: 20px;
    }

    .hide-mobile-only{
        display: none;
    }

    header{
        display: block;
        text-align: center;
        
    }
    nav{
        display: none;
    }

    .mob-nav{
        display: none;
        
    }
    
    .navbutton{
        display: none;

    }

    .navbutton2 {
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100vw;
        background-color: coral;
        color: white;
        padding: 20px 0px;      
      
    }







   
   

    /*.navbutton{
        display: block;
        text-decoration: none;
        color: white;
        background-color: coral;
        padding: 15px 30px;
        margin-left: -70px;
        text-align: center;

    }*/

    /*nav {
        display: block;
        text-align: center;
        width: 400px;
    }

    span.nav-element{

        display: block;
        
        margin: 25px;
        
    }

    span.nav-element a{
        border: none;
    }

    span.nav-element a:hover{
        border: none;
        font-size: 18px;
        font-weight: 700;
        transition: font-size 0.3s ease;
    }*/
    
    
    
    .logo{
        padding: 20px 0;
    }

}